.App {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}

.wrapper {
    margin: 20px;
    flex-basis: 400px;
    border: 3px solid white;
    border-radius: 15px;
    padding: 10px;
    min-height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 10px;
}

body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.border {
    border: 3px solid white;
    border-radius: 10px;
    padding: 15px 10px;
    flex-grow: 1;
}